body {
    margin: 0;
    font-family: Arial;
    background-color: #162652;
    color: white;
}

/* NAVBAR */
.navbar {
    background-color: #070f17;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.btn-green {
    background-color: #3ddc84;
    padding: 10px 15px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px;
}

.hero img {
    width: 300px;
    border-radius: 10px;
}

/* CONTENT */
.content {
    padding: 40px;
    text-align: center;
}